<div class="signup-body">
	<!-- <div class="signup-container"> -->
	<div class="signup-container w-50">
		<!-- <form class="form-horizontal" action="/action_page.php"> -->
		<form class="form-horizontal" action="/html/tags/html_form_tag_action.cfm">
			<header class="heading"> Create a New Event Form</header>
			<hr></hr>
			<div class="form-group row">
				<label class="col-3 col-form-label label">Event title:</label>
				<div class="col-6">
            <!-- {{ getActiveUser().first_name }} -->

					<input type="text" name="event_title" id="event_title" placeholder="Enter Event Title" class="form-control" ng-model="event_title">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label label">Last Name :</label>
				<div class="col-6">
          <input type="date" name="event_date" id="event_date" value="{{ date | date: 'yyyy-MM-dd' }}"  class="form-control" ng-model="event_date">
				</div>
			</div>
			<!-----For email---->
			<div class="form-group row">
				<label class="col-3 col-form-label label">Email :</label>
				<div class="col-6">
					<input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" ng-model="email">
				</div>
			</div>
			<!-----For input picture---->
			<div class="form-group row">
				<label for="image" class="col-3 col-form-label label">Image Url</label>
				<div class="col-6">
					<input type="file" accept="image/*" image="image" id="image" ng-model="image" />
				</div>
			</div>
			<!-----For Password and confirm password---->
			<div class="form-group row">
				<label class="col-3 col-form-label label">Password :</label>
				<div class="col-6">
					<input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" ng-model="password">
				</div>
			</div>
			<!-- For Phone number-->
			<div class="form-group row">
				<div class="offset-1 col-9">
					<div class="btn btn-warning sbutton" ng-click="signUp()">Submit</div>
				</div>
			</div>
		</form>
		<img class="img-fluid" ng-src="{{image.dataURL}}" alt="{{fname}}">		
	</div>
</div>




<!-- {
    title: 'An event',
    color: calendarConfig.colorTypes.warning,
    startsAt: moment().startOf('week').subtract(2, 'days').add(8, 'hours').toDate(),
    endsAt: moment().startOf('week').add(1, 'week').add(9, 'hours').toDate(),
    draggable: true,
    resizable: true,
    actions: actions
  } -->