<div class="signup-body">
  <!-- <div class="signup-container"> -->
  <div class="signup-container w-50">
    <!-- <form class="form-horizontal" action="/action_page.php"> -->
    <form class="form-horizontal" action="/html/tags/html_form_tag_action.cfm">
      <header class="heading"> Create a New Event Form</header>
      <hr></hr>
      <div class="form-group row">
        <label class="col-3 col-form-label label">Event title:</label>
        <div class="col-6">
          <!-- {{ getActiveUser().first_name }} -->

          <input type="text" name="event_title" id="event_title" placeholder="Enter Event Title" class="form-control" ng-model="event_title">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label label">Event Start Date:</label>
        <div class="col-6">
          <!-- <input type="date" name="event_date" id="event_date" value="{{ date | date: 'yyyy-MM-dd-hh' }}"  class="form-control" ng-model="event_date">    -->
          <!-- <input type="datetime-local" name="event_date" id="event_date" value="2017-06-01T08:30"  class="form-control" ng-model="event_date"> -->
          <input type="datetime-local" name="event_start_date" id="event_Startdate" class="form-control" ng-model="event_start_date">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-3 col-form-label label">Event End Date:</label>
        <div class="col-6">
          <input type="datetime-local" name="event_end_date" id="event_end_date" class="form-control" ng-model="event_end_date">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-3 col-form-label label">Event Comments:</label>
        <div class="col-6">
          <input type="text" name="comments" id="comments" class="form-control" ng-model="comments">
        </div>
      </div>

      <div class="form-group row">
        <label for="image" class="col-3 col-form-label label">Event Images</label>
        <div class="col-6">
          <input type="file" accept="image/*" image="image" id="image" ng-model="image" />
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-1 col-9">
          <div class="btn btn-warning sbutton" ng-click="signUp()">Submit</div>
        </div>
      </div>
  </div>
  </form>
</div>
</div>




<!-- {
    title: 'An event',
    color: calendarConfig.colorTypes.warning,
    startsAt: moment().startOf('week').subtract(2, 'days').add(8, 'hours').toDate(),
    endsAt: moment().startOf('week').add(1, 'week').add(9, 'hours').toDate(),
    draggable: true,
    resizable: true,
    actions: actions
  } -->